.cards-2-container {
    position: relative;
}
.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 40px auto 40px 40px;
    column-gap: 24px;
    margin-top: 48px;
    margin-bottom: 48px;
}

/* Card Items: where second card is lower than first, and third is lower than second */
.cards > ul > li {
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0 24px;
    grid-row: 1 / span 4;
}
.cards > ul > li:first-of-type:before {
    background: #0096ff;;
}

.cards.descending > ul > li:nth-of-type(1) {
    grid-row: 1 / span 4;
}
.cards.descending > ul > li:nth-of-type(2) {
    grid-row: 2 / 5;
}

.cards.descending > ul > li:nth-of-type(3) {
    grid-row: 3 / 6;
}
/* // Card Items */

/* Card left rail */
.cards > ul > li:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4px;
    height: 100%;

}
.cards > ul > li:nth-of-type(1):before {
    background:#0097ff;
}
.cards > ul > li:nth-of-type(2):before {
    background: #0ebdba;
}
.cards > ul > li:nth-of-type(3):before {
    background:#68bb6e;
}



.cards .cards-card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cards .cards-card-image {
    display: none;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--body-font-family);
    font-size: 32px;
    font-weight: 300;
    color: rgb(0,0,78);
}
.cards .cards-card-body > p:not(.button-container){
    font-family: var(--body-font-family);
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgb(56, 56, 56);
    flex: 1 1 auto;
}
.cards .cards-card-body .button {
    margin: 0;
    width: 100%;
}

.cards .button-container {
    margin: 0;
    padding: 0;
    width: 100%;
}


.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
