:root {
    --helix-core-card-border-radius: 16px;
    --helix-core-card-border-radius-top-left--secondary: 16px;
    --helix-core-card-border-radius-top-right--secondary: 16px;
    --helix-core-card-accent-bottom-left-radius--secondary: 16px;
    --helix-core-card-accent-bottom-right-radius--secondary: 16px;
    --helix-core-card-border-radius-top-right--media: 16px;
    --helix-core-card-border-radius-top-left--media: 16px;
    --helix-core-card-footnote-border-top: 1px solid var(--helix-core-neutrals-neutral-dark);
    --helix-core-card-footnote-color: var(--helix-core-neutrals-black);
    --helix-core-card-footnote-color--inverted: var(--helix-core-neutrals-white);
    --helix-core-card-border-top-left-radius--accent-side: 0;
    --helix-core-card-border-bottom-left-radius--accent-side: 0;
    --helix-core-card-border-bottom-left-radius--accent-bottom: 0;
    --helix-core-card-border-bottom-right-radius--accent-bottom: 0;
    --helix-core-card-border-radius-bottom-left-media--media-only: 16px;
    --helix-core-card-border-radius-bottom-right-media--media-only: 16px;
    --helix-core-card-border-radius-bottom-left-media--media-bottom-footnote: 0;
    --helix-core-card-border-radius-bottom-right-media--media-bottom-footnote: 0;
    --helix-core-card--inverted-background-background: var(--subtheme-dark, var(--helix-core-primary-dark-primary));
    --helix-core-header-background--secondary-background: var(--subtheme-dark, var(--helix-core-primary-dark-primary));
    --helix-core-button-color-inverted--primary-color: var(--subtheme-dark, var(--helix-core-primary-dark-primary));
    --helix-core-button-color-inverted--primary-hover: var(--subtheme-light, var(--helix-core-primary-light-primary));
    --helix-core-button-color-inverted--primary-active: var(--subtheme-lightest, var(--helix-core-primary-lightest-primary));
    --helix-core-button-color-inverted--secondary-color: var(--helix-core-neutrals-white);
    --helix-core-button-color-inverted--secondary-hover: var(--subtheme-dark, var(--helix-core-primary-dark-primary));
    --helix-core-button-color-inverted--secondary-active: var(--subtheme-dark, var(--helix-core-primary-dark-primary));
    --helix-core-card-accent-background: var(--subtheme-mid, var(--helix-core-accent-accent));
    --helix-core-card-accent-background-2: var(--subtheme-secondary-mid, var(--helix-core-accent-accent-2));
    --helix-core-card-accent-background-3: var(--subtheme-mid-10, var(--helix-core-accent-accent-3));
    --helix-core-card-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px 0;
    --helix-core-card-color: var(--helix-core-neutrals-black);
    --helix-core-card-kicker-multiple-padding-bottom-property: 8px;
    --helix-core-card-step-height: calc(var(--helix-core-spacing-multiplier) * 10);
}

.cards-container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--helix-layout-container-padding-left-property, calc(var(--helix-core-spacing-multiplier) * 4));
    padding-right: var(--helix-layout-container-padding-right-property, calc(var(--helix-core-spacing-multiplier) * 4));
}

.cards > ul {
    display: grid;
    column-gap: var(--helix-core-card-column-gap, calc(var(--helix-core-spacing-multiplier) * 6));
    row-gap: var(--helix-core-card-column-gap, calc(var(--helix-core-spacing-multiplier) * 6));;
}

@media (min-width: 768px){
    .cards > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .cards > ul, .cards.three > ul{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards.descending ul {
        grid-template-rows: var(--helix-core-card-step-height, calc(var(--helix-core-spacing-multiplier) * 12)) var(--helix-core-card-step-height, calc(var(--helix-core-spacing-multiplier) * 12)) 1fr var(--helix-core-card-step-height, calc(var(--helix-core-spacing-multiplier) * 12)) var(--helix-core-card-step-height, calc(var(--helix-core-spacing-multiplier) * 12));
    }

    .cards.two > ul {
        grid-template-columns: 1fr 1fr;
    }

    .cards.descending > ul > li:first-of-type {
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .cards.descending > ul > li {
        grid-row-start: 2;
        grid-row-end: span 3;
    }
    
    .cards.descending > ul > li:last-of-type {
        grid-row-start: 3;
        grid-row-end: 6;
    }
}

.cards > ul {

    margin-top: 48px;
    margin-bottom: 48px;
}

/* Card Items: where second card is lower than first, and third is lower than second */
.cards > ul > li {
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0 24px;
}

/* // Card Items */

/* Card left rail */
.cards > ul > li:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4px;
    height: 100%;

}
.cards > ul > li:nth-of-type(3n-2):before {
    background:#0097ff;
}
.cards > ul > li:nth-of-type(3n-1):before {
    background: #0ebdba;
}
.cards > ul > li:nth-of-type(3n):before {
    background:#68bb6e;
}



.cards .cards-card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cards .cards-card-image {
    display: none;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--body-font-family);
    font-size: 32px;
    font-weight: 300;
    color: rgb(0,0,78);
}
.cards .cards-card-body > p:not(.button-container){
    font-family: var(--body-font-family);
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgb(56, 56, 56);
    flex: 1 1 auto;
}
.cards .cards-card-body .button {
    margin: 0;
    width: 100%;
}

.cards .button-container {
    margin: 0;
    padding: 0;
    width: 100%;
}


.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
