/* block specific CSS goes here */
.section.hero-container {
    position:relative;
    justify-content: center;
    background-size: cover;
    display: flex;
    max-width: unset;
    margin: 0;
}

.hero-container::before {
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #f2f4f7;
    clip-path: polygon(100% 0%, 100% 95%, 0% 100%, 0% 0%);
  }

.hero-wrapper {
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
}
  
.hero {
    width: 100%;
    margin: 0 auto;
}

.hero h1 {
    font-family: var(--helix-core-type-preset-1-5-xs-mobile-h1-font-family, inherit);
    font-size: var(--helix-core-type-preset-1-5-xs-mobile-h1-font-size, inherit);
    letter-spacing: var(--helix-core-type-preset-1-5-xs-mobile-h1-letter-spacing, inherit);
    line-height: var(--helix-core-type-preset-1-5-xs-mobile-h1-line-height, inherit);
    font-weight: var(--helix-core-type-preset-1-5-xs-mobile-h1-font-weight, inherit);
    display : flex;
    align-items : center;
    color: var(--helix-core-primary-dark-primary, inherit);
}

.hero picture {
   height: auto;
   width: 55%;
}

.hero img {
    width: 100%;
    height: 100%;
}


@media (max-width: 576px) {
    .hero h1 {
        margin-bottom: 3em;
    }
}

@media (min-width: 576px) {
    .hero div {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .hero-container::before {
        clip-path: polygon(100% 0%, 100% 70%, 0% 100%, 0% 0%);
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .hero h1 {
        font-family: var(--helix-core-type-preset-1-4-s-mobile-h1-font-family, inherit);
        font-size: var(--helix-core-type-preset-1-4-s-mobile-h1-font-size, inherit);
        letter-spacing: var(--helix-core-type-preset-1-4-s-mobile-h1-letter-spacing, inherit);
        line-height: var(--helix-core-type-preset-1-4-s-mobile-h1-line-height, inherit);
        font-weight: var(--helix-core-type-preset-1-4-s-mobile-h1-font-weight, inherit);
    }

    
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hero h1 {
        font-family: var(--helix-core-type-preset-1-3-m-tablet-h1-font-family, inherit);
        font-size: var(--helix-core-type-preset-1-3-m-tablet-h1-font-size, inherit);
        letter-spacing: var(--helix-core-type-preset-1-3-m-tablet-h1-letter-spacing, inherit);
        line-height: var(--helix-core-type-preset-1-3-m-tablet-h1-line-height, inherit);
        font-weight: var(--helix-core-type-preset-1-3-m-tablet-h1-font-weight, inherit);
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .hero h1 {
        font-family: var(--helix-core-type-preset-1-2-l-laptop-h1-font-family, inherit);
        font-size: var(--helix-core-type-preset-1-2-l-laptop-h1-font-size, inherit);
        letter-spacing: var(--helix-core-type-preset-1-2-l-laptop-h1-letter-spacing, inherit);
        line-height: var(--helix-core-type-preset-1-2-l-laptop-h1-line-height, inherit);
        font-weight: var(--helix-core-type-preset-1-2-l-laptop-h1-font-weight, inherit);
    }
}

@media (min-width: 1200px) {
    .hero h1 {
        font-family: var(--helix-core-type-preset-1-1-xl-desktop-h1-font-family, inherit);
        font-size: var(--helix-core-type-preset-1-1-xl-desktop-h1-font-size, inherit);
        letter-spacing: var(--helix-core-type-preset-1-1-xl-desktop-h1-letter-spacing, inherit);
        line-height: var(--helix-core-type-preset-1-1-xl-desktop-h1-line-height, inherit);
        font-weight: var(--helix-core-type-preset-1-1-xl-desktop-h1-font-weight, inherit);
    }
}