footer {
  background-color: var(--helix-core-primary-dark-primary);
  color: white;
  font-size: var(--body-font-size-s);
  padding: 70px 0;
}

footer .footer {
  max-width: var(--max-width-lg);
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a:any-link {
  color: white;
  text-decoration: underline;
}

footer .footer .columns > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--helix-core-section-padding);
}

footer .footer  .columns > div > div {
  padding-top: 1em;
}


footer .footer  .columns > div > div:nth-of-type(2) {
  border-top: solid 1px white;
}

footer .footer  .columns > div > div:nth-of-type(1)  p{
  font-weight: 700;
  margin: 8px 0 24px;
}



@media (min-width: 900px) {
  footer .footer  .columns > div {
      display: flex;
      flex-direction: unset;
      text-align: left;
  }

  footer .footer .columns > div > div {
      flex: 1;
  }

  footer .footer .columns > div > div:nth-of-type(2) {
    border: 0;
    border-left: solid 1px white;
    padding-left: 32px;
  }

  footer .footer  .columns > div > div:first-of-type {
      margin-left: unset;
  }
}