.section.cards-2-container {
    position: relative;
    padding-top: 1em;
    padding-bottom: 15%;
    padding-left: 40px;
    padding-right: 40px;
}

.section.cards-2-container::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: -1px;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
    max-width: unset;
    background-color: white;
    clip-path: polygon( 100% 100%, 0% 85%, 0% 100%);
}
.cards-2-container > div {
    margin-left: 0;
    margin-right: 0;
    max-width: unset;
}

.cards-2-container > div:first-child picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
    max-width: unset;
    
}
.cards-2-container > div:first-child picture img {
    height: 100%;
    width: 100%;
}
.cards-2-container > div:first-child > *:first-child {
    padding-top: 0px;
    color: var(--background-color);
    font-size: 72px;
    font-weight: 300;
} 

.cards-2 > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 40px auto 40px 40px;
}

/* Card Items: where second card is lower than first, and third is lower than second */
.cards-2 > ul > li {
    overflow: hidden;
    grid-row: 2 / span 4;
    display: block;
    position: relative;
    border-radius: 12px;
    padding: 12px 24px;
    box-shadow: rgba(0,0,0,0.15) 0px 2px 4px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--background-color);
}

.cards-2 > ul > li:nth-of-type(1) {
    grid-row: 3 / 6;
}
.cards-2 > ul > li:nth-of-type(2) {
    grid-row: 2 / 5;
}

.cards-2 > ul > li:nth-of-type(3) {
    grid-row:  1 / 4;
}
/* // Card Items */


.cards-2 .cards-card-body {
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cards-2 .cards-2-card-image {
    display: none;
}

.cards-2 .cards-card-body > *:first-child {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--body-font-family);
    font-size: 32px;
    font-weight: 300;
    color: rgb(0,0,201);
}
.cards-2 .cards-card-body > p:not(.button-container){
    font-family: var(--body-font-family);
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgb(56, 56, 56);
    flex: 1 1 auto;
}

.cards-2 .cards-card-body hr {
    width: 100%;
    margin: 0.5em 0;
}
.cards-2 .cards-card-body .button {
    padding: 10px 38px;
    margin: 0;
}

.cards-2 .button-container {
    margin: 0;
    padding: 0;
}


.cards-2 > ul > li img {
    width: 54px;
}
